.dydiv{
    border: 0px solid black;
    margin-left:auto;
	margin-right:auto;
	width:90%; /*850px;*/
	height:500px;
}

.dydiv2{
	border: 0px solid black;
    float:left;
    margin-left:5%;
	width: 70%;
	height: 500px;
}

#labels{
    float: right;
    width: 20%;
	font-size: 12px;
	margin-top: 20px;
	
}

/*.dydiv2 .dygraph-legend {
        width: 100px;
        background-color: black;
        left: 40px !important;
      }*/

.clear{
    clear: both;
}

.container{
    border: 0px solid red;
	max-width:75%;/*950px*/
	margin-left:auto;
	margin-right:auto;
}

.plotcontainer{
	margin-left:auto;
	margin-top:10px;
	margin-right:auto;
	margin-bottom:10px;
}

img.matplotlib{
	margin-left:auto;
	margin-right:auto;
	display:block;
}


.copyright{
	background:#0C5DA5;
	padding:5px;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	height:30px;
}

.copyright_decorations{
	background:#0C5DA5;
	background-image: url(../images/christmas-balls-40.png);
	background-repeat: repeat-x;
	background-position: left;
	background-size:auto 30px;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	height:30px;
}


table.generaloptions,table.selection,.additionalinfo{
	border-width: 2px;
	border-collapse: collapse;
	margin-right:auto;
	margin-left:auto;
	width:80%; 
	margin-top: 10px;
	margin-bottom: 10px;
}

td.plot_options{
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

table.frontpage {
	margin-right:auto;
	margin-left:auto;
	width:80%; 
	margin-top: 10px;
	margin-bottom: 10px;
}

table.frontpage tr {
	padding: 1px;
}

table.frontpage td {
	border-width: 0px;
	border-style: inset;
	border-color: blue;
	width:30%;
}

table.frontpage h2 {
	color:#0C5DA5;
	margin:5px;

}

table.frontpage ul {
	margin:0px;
}

.caption{
	background:#0C5DA5; 
	padding: 10px; 
	color:#FFFFFF;
	font-weight:bold;
	font-size: 32px;
}

.caption_alt{
	background:#0C5DA5;
	background-image: url(../images/fir_branch_with_cones.png), url(../images/fir_branch_with_cones_right.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
	background-size:80px, 80px;
	padding: 10px 10px 10px 80px;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 32px;
}

.logo{
	position:relative;
	margin-right:0px;
	float:right;
	height:40px;
}

.logo_alt{
	position:relative;
	margin-right:75px;
	float:right;
	height:40px;
}

.header_img_shift{
    margin:0px 0px 0px 0px;
    position:relative;
    float:right;
    height:45px;
}

.header_utilities{
	position:relative;
	margin-right: 20px;
	float:right;
	font-size:16px;
}

.header_decorations_shift{
	position:relative;
	margin: 0px 40px 0px 0px;
	float:right;
	font-size:16px;
	width:60px;
	height:40px;
}

.header_decorations_static{
	position:relative;
	margin-right: 10px;
	float:right;
	font-size:16px;
}

.edition{
	position:relative;
	margin-right:10px;
	float:right;
	height: 40px;
}

a.header_links:link,a.header_links:visited{
	color:#FFFFFF;
}

a.header_links:hover{
	text-decoration:underline;
}

a:link,a:visited{
	color:black;
	text-decoration:none;
}

a:hover{
	color:#0C5DA5;
	text-decoration:underline;
}

.stm_month_table{
    background-color: #E0E0E0;
    margin-bottom: 20px;
}

.stm_month_table td{
    padding:2px 5px 2px 5px;
    width: 120px;
}

.stm_month_name{
    background-color: #0C5DA5;
    color: white;
}

.stm_image{
    background-color: #E0E0E0;
    float:left;
    border-style:solid;
    border-width:1px;
}


.table_container{
    border: 1px solid red;
	width:100%;/*950px*/
	margin-left:auto;
	margin-right:auto;
}

.frontpage_table{
    float:left;
    
}

#container_measurements{
	width:80%;
/*	border: 1px solid red;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;

}

#permanent_options{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#submit_button{
	float:right;
}

#list_components{
/*	width:100%;*/
}

#list_measurements{
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

#measurement_select{
	width:100%;
}

#left_y{
	float:left;
}

#right_y{
	float:right;
	text-align:right;
}

#right_legends{
	float:right;
}

#right_legends{
	text-align:right;
}

.right_float_menu{
    float:right;
}


.right_float_menu td{
    background-color: #0C5DA5; 
    color: #FFFFFF;
    width: 120px;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    font-weight: bold;
}

.right_float_menu a{
    display: block;
    width: 120px;
    padding: 2px 5px 2px 5px;
    color: #FFFFFF;
}

.stm_table table{
    margin:10px 0px 0px 30px;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

.stm_table .even{
    background-color: #B8B8B8; 
}

.stm_table .odd{
    background-color: #C8C8C8; 
}

.stm_table th{
    background-color: #0C5DA5; 
    color: #FFFFFF;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.stm_table td{
    padding: 0px 0px 0px 0px;
}

.stm_table th.row_both{
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
}

.stm_table th.row_top{
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    border-style: solid solid none solid;
}

.stm_table th.row_bottom{
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    border-style: none solid solid solid;
}


.stm_table .image_cell{
    border: 1px solid black;
}


.stm_table td.row_both{
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
}

.stm_table td.row_top{
    padding: 6px 5px 0px 5px;
    border: 1px solid black;
    border-style: solid solid none solid;
}

.stm_table td.row_bottom{
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    border-style: none solid solid solid;
}